@import '../../SASS/Utilities/Colors.scss';
@import '../../SASS/Utilities/Utilities.scss';

nav {
  display:  flex;
  justify-content: space-between;
  height: 100px;

    ul{
    display: flex;
    float: right;

    li{
      padding: 2rem;

      a{
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;

        &:hover{
          border-bottom: 3px solid $lightOrange;
        }

        &.active{
          border-bottom: 3px solid $lightOrange;
        }
      }
    }
  }
}

nav *{
  z-index: 10;
}

.logo{
  background: url(../../Assets/SBlogo-01.png) no-repeat center ;
  z-index: 11;
  color: transparent;
  width: 300px;
  background-size: 100%;
  margin: 1rem;
}

.showcase{
  background: url(../../Assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 25vh;
  width: 100%;
  left: 0;
  top: 0;

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: rgba(0,0,0,0.6);
  }
}

  /* Smartphones */
  @media (max-width: 606px) {
    nav{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;

      ul{
        justify-content: center;
        float: none;

        li{
          padding: 0 1rem;
        }
      }
    }

    .logo{
      height: 70px;
      margin: 2rem 0;
    }
  }

@media(min-width: 607px) and (max-width: 768px) {
  .showcase{
    background-position: top center;
  }
}

@media(min-width: 769px) {
  .showcase{
    background-position: top center;
  }
}