@import '../../SASS/Utilities/Colors.scss';

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $black;
  color: $white;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
}